/*
    Styles document
*/

.email {
    display: flex;
    justify-content: center;
}

.mailImg {
    padding-right: 5px;
}

.rounded {
    margin-left: 2rem;
    max-width: 25%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
}

.bio {
    width: 50rem;
    margin-left: 8rem;
    margin-top: 2rem;
    flex-direction: column;
}

.submitButton {
    padding-top: 10px;
}

.starGroup {
    padding-bottom: 10px;
}